#payout-details {
    width: 100%;
    border-spacing: 1px;
    border: 1px; solid #999;
    background-color: #999;
}
#payout-details td, #payout-details th {
    background-color: #fff;
    padding: 5px;   
}
#payout-details th {
    text-align: left;
    font-weight: bold;
    background: #eee;
}
#payout-details .method {
    vertical-align: top;
    width: 35%;
}
#payout-details .detail {
    width: 65%;
}
