.cms table.ss-gridfield-table tbody td button.gridfield-button-approve-widthdrawal, .cms table.ss-gridfield-table tbody td button.gridfield-button-reject-widthdrawal { 
    width: 15px; 
}
.gridfield-button-approve-widthdrawal .ui-button-icon-primary, .gridfield-button-reject-widthdrawal .ui-button-icon-primary {
    left: auto; 
}
