#withdraw-statement {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}
#withdraw-statement, #withdraw-statement table, #withdraw-statement p, #withdraw-statement address {
    font-family: Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-style: normal !important;
}
#withdraw-statement p {
    margin: 0;
    padding: 0;
}
#withdraw-statement table {
    border-collapse: collapse;
}
#withdraw-statement td, #withdraw-statement th {
    border: 1px solid #999;
    padding: 5px;
}
#customer {
    overflow: hidden;
    clear: both;
}
#customer-title {
    float: left;
}
#meta {
    margin-top: 1px;
    max-width: 300px;
    width: 100%;
    float: right;
}
#meta td {
    text-align: right;
}
#meta td.meta-head {
    font-weight: bold;
    text-align: left;
    background: #eee;
}
#remark {
    color: red;
}
#action {
    text-align: right;
    margin-top: 10px;
}