#withdraw-statement * {
    font-family: firefly, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-style: normal !important;
    letter-spacing: 1px !important;
    word-wrap: break-word !important;
}
#withdraw-statement {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    -webkit-print-color-adjust: exact;
}
#withdraw-statement p {
    margin: 0;
    padding: 0;
}
#header {
    min-height: 15px;
    margin-bottom: 10px;
    background-color: #222;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    -webkit-print-color-adjust: exact;
}
#identity {
    clear: both;
}
#address {
    width: 350px;
    float: left;
}
#logo {
    text-align: right;
    float: right;
    position: relative;
    margin-top: 5px;
    max-width: 300px;
    max-height: 100px;
}
#customer {
    clear: both;
}
#customer-title {
    float: left;
    max-width: 350px;
}
#meta {
    margin-top: 1px;
    max-width: 300px;
    width: 100%;
    float: right;
}
#meta table {
    width: 100%;
    border-spacing: 1px;
    border: 1px; solid #999;
    background-color: #999;
    -webkit-print-color-adjust: exact;
}
#meta td, #meta th {
    background-color: #fff;
    padding: 5px;
    text-align: right;
    -webkit-print-color-adjust: exact;
}
#meta td.meta-head {
    font-weight: bold;
    text-align: left;
    background-color: #eee;
    -webkit-print-color-adjust: exact;
}
#remark {
    color: red;
}
#terms {
    margin-top: 5px;
    text-transform: uppercase;
}